@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


@font-face {
  font-family: Suisse-Reg;
  src: url('../fonts/suisse-reg.woff') format('woff')
}

@font-face {
  font-family: Suisse-Italic;
  src: url('../fonts/suisse-italic.woff') format('woff')
}

@font-face {
  font-family: Everett-Light;
  src: url('../fonts/Everett-Light.woff') format('woff')
}
@font-face {
  font-family: Everett-Medium;
  src: url('../fonts/Everett-Medium.woff') format('woff')
}
@font-face {
  font-family: Everett-Regular;
  src: url('../fonts/Everett-Regular.woff') format('woff')
}

$font-family-sans-serif: Suisse-Reg,      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$primary: #C1C0C0;
$light: #C8C8C8;

$display-font-sizes: (
        1: 5rem,
        2: 4.5rem,
        3: 4rem,
        4: 3.5rem,
        5: 3rem,
        6: 1.5rem
) !default;


@import "~bootstrap";

a{
  color:black;
  text-underline: none !important;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color:black;
  text-underline: none;
}


.aa {
  opacity: 0.5;
  transition: all 0.3s ease;
  &:hover{
    opacity:1;
  }
}

.everett {
  font-family: Everett-Medium;
}

.sfondoGrad {
  background: linear-gradient(180deg, #C8C8C8 70.31%, rgba(192, 172, 255, 0.6) 100%);
}
